

/* page background color ~
     background-color: rgb(212, 218, 224); */

.nav_logo{
    /* height: 4em; */
    /* width: 100%; */
    /* height: auto; */
    /* height: 2em; */
    /* object-fit: scale-down; */
    /* background-size: 100%; */
    /* background: url("http://localhost:1110/si_media/si_drip_logo_png/"); */
    /* background-repeat:  no-repeat; */
}


.nav-item{
    height: 0px;
}

.nav_ham_btn{
    width: 88px;
}

@media only screen and (max-width: 600px) {
    .nav-item{
        height: 100%;
    }
}
.nav_ham_btn_fwrap{
    width: 58px;
    padding: auto;
    margin:auto;
    position: static;
    background-color: rgb(22, 119, 119);
    z-index: 3;
    @include ease-out;
    border: 5px solid white;
    border-radius: 2vw;
}

@media only screen and (max-width: 600px) {
    .nav_ham_btn_fwrap{
        width: 58px;
        padding: auto;
        margin:auto;
        position: fixed;
        z-index: 3;
        right: 35px;
        bottom: 8px;
        @include ease-out;
        background-color: rgb(22, 119, 119);
        border: 5px solid white;
    border-radius: 2vw;
    }    


}


.sv_sc_app_cont{
    padding:0 !important;
    margin:0 !important;
    border: 1px solid black;
}

.navcolor{
    background-color: white;
    
}

.sv_nav_row{
    padding: 0;
    margin:0;
    display: grid;
    grid-template-columns: 13% 13% 13% 13% 13% 13% 13%;
}

@media only screen and (max-width: 600px) {
    .sv_nav_row {
      display:block;
      grid-template-columns: 13% 13% 13% 13% 13%;
    }
  }



  .sv_nav_hide{
    background-color: purple;
    height:15px;
    display:none;
}



.nav-item{

    background-color: black;
}



.nav-link{
    width: 100%;
    height: 4em;
    /* padding:1em 1em; */
}

@media only screen and (max-width: 600px) {
    .nav-link{
        width: 100%;
        height: 8em;
        /* padding:1em 1em; */
    }
}

.nav-link.active{
    /* background-color: black; */
    background-color: rgb(0, 0, 0);
    color:white;
}

.nav-item-srow{
    margin:0;
    padding:0;
    background-color:darkslategray;
    /* color: white; */

    display: grid;
    grid-template-columns: 10% 80% 10%;
}

@media only screen and (max-width: 600px) {
.nav-item-srow{
    margin:0;
    padding:0;
    background-color:darkslategray;
    /* color: white; */

    display: grid;
    grid-template-columns: 5% 90% 5%;
}
}


.nav-selected-page{
    /* color:white; */
    background-color: rgb(212, 218, 224);
}

.driv_head_row_item{color:white;}


.nav_it_list{
    /* text-align: center; */
}

